body{
    font-family: "Montserrat";
    text-align: center;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.meet{
    font-weight: 1000;
}
.container-fluid{
    padding: 3% 15% 8%;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-Bold";
}

h2{
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
}

p{
    color: #aaaaaa;
    cursor: default;
    font-weight: lighter;
    font: normal;
}

/* Heading */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 15%;
}

/* Navigation-Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    cursor: auto;
}

.download-butons{
    margin: 5% 3% 5% 3%;
}

/* title-image */

.title-image{
    width: 22%;
    transform: rotate(25deg);
    margin-left: 10%;
    position: absolute;
    right: 24%;
}

.z-ind{
    position: relative;
    z-index: 1;
    background-color: #fff;
}

/* features Section*/

#features{
    padding: 7% 15%;
}

.feature-box{
    padding: 4%;
    text-align: center;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

/* Sudo class */
.icon:hover{
    color: #ff4c68;
}

/* Testimonial section */

#testimonials{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer section */
.footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
    text-align: center;
    position: static;
}


@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0deg);
        width: 60%;
        padding-top: 4rem;
    }

}